.button1
{
    -fx-background-color :  #ecd0cd;
    -fx-background-radius :  30 30 30 30;
}
.button1:hover
{
    -fx-background-color :  #2F2B43;
    -fx-background-radius :  30 30 30 30;
}
.button1:pressed
{
    -fx-background-color : #2F2B43 ;
    -fx-background-radius :  30 30 30 30;
}